
.container{
    
    display: flex;
    flex-direction: row;
    padding: 0.5%
}

.sb{
    border-radius: 5px;
    padding: 0.5%;
}
.btn{
    padding: 0.5%;
    border: 110%;
    border-radius: 5px;
    border-color: green;
    
    color: green;
    font-weight: bold;
}